.form {
    display: flex;
    padding: 15px 0px;
}

@media (max-width: 767px) {
    .form {
        flex-direction: column;
    }
}

.form__input {
    padding: 10px;
    flex-grow: 1;
    margin-right: 15px;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
}

@media (max-width: 767px) {
    .form__input {
        margin: 10px 0;
    }
}

.form__button {
    background-color: teal;
    color: whitesmoke;
    padding: 0 20px;
    transition: 0.3s;
    border: none;
}

@media (max-width: 767px) {
    .form__button {
        padding: 10px 0;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 767px) {
    .form__button:hover {
        transform: scale(1.04);
    }
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}